.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.image_wrapper {
  width: 50%;
  height: 100%;
  text-align: center;
}

img {
  width: 80%;
  height: 100%;
}

.text_wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #575b89;
}

.text_content {
  height: 400px;
  width: 360px;
}

.thin {
  font-weight: 200;
}

input {
  padding: 8px 20px;
  border: 2px solid #ff802c;
}

input:focus {
  outline: none;
}

.yes{
  color:#00C14D;
}

.no{
  color: #F85053;
}

@media (min-width: 320px) and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .image_wrapper {
    height: 50vh;
    width: 100%;
  }
  img {
    padding-top: 50px;
    width: 100%;
    height: 80%;
  }

  .text_wrapper {
    height: 50vh;
    width: 100%;
  }

  .text_content {
    padding-top: 50px;
    height: 300px;
    text-align: center;
    width: 300px;
  }
}
